/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
.fluid {
  width: 60vh;
  height: 60vh;
}
